@page "/recruiter"
@inherits RecruiterBase

<PageTitle>Recruiter List</PageTitle>

@if (Recruiters == null){
    <Loader />
}
else
{
    <div class="d-flex mb-3">
        <h3 class="me-auto p-2">Recruiter List:</h3>
        <div class="p-2">
            <a class="btn btn-primary" href="/recruiter/recruiteradd" role="button">Add</a>
        </div>
    </div>
    
    <div class="row">
        @foreach (var item in Recruiters)
        {
        <div class="col">
            <div class="card" style="width: 18rem">
                <div class="card-body">
                    <div class="card-title">
                        <h3>@item.Name</h3>
                    </div>
                    <div class="card-text">
                        <a href="@item.Link">@item.Link</a>
                        <h5>Message sended: @item.MessageSend</h5>
                        <h5>Message answered @item.Answered</h5>
                    </div>
                    <div class="card-footer">
                            <a class="btn btn-primary">Edit</a>
                            <button class="btn btn-danger" @onclick="@(e => DeleteRecruiter(item.Id))">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
}
